body {
  background: linear-gradient(
    45deg,
    #ffbf15,
    #f2541b,
    #c91853,
    #a8186e,
    #6a0487
  );
  color: rgb(68, 68, 68);
}
#container {
  position: static;
}
.about {
  font-size: 35px;
  /* color: bisque; */
  color: rgb(151, 246, 255);
  text-shadow: 2px 5px 5px rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;
}
.about:hover{
  background-color: rgb(163, 240, 247);
  box-shadow: 2px 5px 25px  rgb(193, 247, 254);
}
#logo a{
  color: rgb(151, 246, 255);
}
#logo a:hover{
  background-color: rgb(188, 243, 248);
  box-shadow: 2px 5px 50px  rgb(193, 247, 254);
}
main ul {
  width: 1200px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}
li:nth-of-type(3){
    grid-column: 1 / span 2;
}
li:nth-of-type(8){
    grid-column: 1 / span 2;
}
main li {
  display: flex;
  background-color: #fdfcf1;
  box-shadow: 20px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}
main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}
.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-content h2{
  margin: 0;
}
.item-content p{
  font-size: 19px;
  font-family:"Fira-Sans" ;
  /*  */
}
.actions {
  text-align: right;
}
.actions a {
  
  text-decoration: none;
  color: rgb(0, 106, 116);
  padding: 6px;
  font-size: larger;
  border-radius: 10px;
}
.actions a:hover{
    background-color: rgb(215, 246, 250); 
    
}
